*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'LogoFont';
  src: url(/fonts/Norse-Bold.otf);
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.leaf-img{
  background-image: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shoutout {
  padding: 1rem;
  margin-top: auto;
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(201, 131, 0);
}

img {
  height: 20vh;
  width: 8vw;
}

.banner-text {
  font-family: LogoFont;
  font-size: 7rem;
  padding-top: 25px;
}

.banner {
  height: 24vh;
  margin-top: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}

form {
  font-family: 'Roboto', sans-serif;
}